{% extends 'memoapp/base.html' %}


{% block content %}
    <table class="table">
        <tr>
            <th>Items</th>
            <td>{{ day.title }}</td>
        </tr>
        <tr>
            <th>memo</th>
            <td>{{ day.text | linebreaksbr }}</td>
        </tr>
        <tr>
            <th>created</th>
            <td>{{ day.date }}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-outline-primary"><a href="{% url 'memoapp:update' day.pk %}">edit</a></button>
{% endblock %}
