{% extends 'memoapp/base.html' %}

{% block content %}
    <h4 class="text-center text-dark mb-4 font-weight-light font-italic">Overview</h4>
    <table class="table">
        <tr>
            <th>Your mind</th>
            <td>{{ day.title }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ day.text | linebreaksbr }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ day.date }}</td>
        </tr>
    </table>
    <div class="d-flex justify-content-center py-3">
        <a href="{% url 'memoapp:update' day.pk %}">
            <button type="button" class="btn btn-outline-primary">
                Change Your Mind
            </button>
        </a>
    </div>

{% endblock %}
