{% extends 'memoapp/base.html' %}

{% block content %}
    <h4 class="text-center text-dark mb-4 font-weight-light font-italic">Clear</h4>
    <form action="" method="POST">
        <table class="table">
            <tr>
                <th>Your mind</th>
                <td>{{ day.title }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ day.text }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ day.date }}</td>
            </tr>
        </table>
        <p class="pt-3 text-center">Clear what you want ...</p>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-outline-primary">Out Of Your Mind</button>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}
