{% extends 'memoapp/base.html' %}


{% block content %}
    <form action="" method="POST">
        <table class="table">
            <tr>
                <th>title</th>
                <td>{{ day.title }}</td>
            </tr>
            <tr>
                <th>main</th>
                <td>{{ day.text }}</td>
            </tr>
            <tr>
                <th>date</th>
                <td>{{ day.date }}</td>
            </tr>
        </table>
        <p>delete this data</p>
        <button type="submit" class="btn btn-primary">SEND</button>
        {% csrf_token %}
    </form>
{% endblock %}
